<%- include("../templates/head", {title: 'Objetivo Tipo Foto'}) %> 
    <div class = 'container mt-4'>
        <h1><%= title %></h1>
        <a href="/objetivo_tipofoto/create" class = "btn btn-outline-primary mt-3"><i class="fas fa-plus-circle"></i></a>
        
        <table id="objetivo_tipofoto" class="table table-bordered table-striped text-center mt-5">
            <thead>
                <tr class="bg-dark text-white">
                    <th scope="col">OBJETIVO</th>
                    <th scope="col">TIPO DE FOTOGRAFÍA</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((objetivo_tipofoto) => { %> 
                <tr>
                    <td><%= objetivo_tipofoto.modelo %></td>
                    <td><%= objetivo_tipofoto.tipofoto%></td>
                    <td>
                        <a href="/objetivo_tipofoto/edit/<%= objetivo_tipofoto.id_objetivo_tipofoto %>" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                        <a onclick="confirmar(<%= objetivo_tipofoto.id_objetivo_tipofoto%>)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#objetivo_tipofoto').DataTable();
        });

        function confirmar(id){
            Swal.fire({
            title: '¿Estás seguro de eliminar el registro?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: `#3085d6`,
            cancelButtonCOlor: `#d33`,
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/objetivo_tipofoto/delete/'+id
                } 
            })
        }
    </script>
   
<%- include("../templates/footer") %> 
