<%- include("../templates/head", {title: 'Crear Objetivos'}) %> 

    <div class = 'container mt-4'>
        <h1>Crear <%= title %></h1>
        <div class="card border-secondary">
            <div class="card-header">Nuevo Registro</div>
            <div class="card-body">
                <form action="/objetivos/save" method="POST">
                    <div class="mb-3">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" name="modelo" id="modelo" class="form-control" tabindex="1">
                    </div>

                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <select name="marca" id="marca" class="form-select" tabindex="2"> 
                                <option value="" selected disabled hidden>Seleccione una opción</option>
                            <% marca.forEach((marca) => { %>
                                <option value="<%= marca.id_marca %>"> <%= marca.marca%> </option>
                            <% }) %> 
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="montura" class="form-label">Montura</label>
                        <select name="montura" id="montura" class="form-select" tabindex="3"> 
                                <option value="" selected disabled hidden>Seleccione una opción</option>
                            <% montura.forEach((montura) => { %>
                                <option value="<%= montura.id_montura %>"> <%= montura.modelo%> </option>
                            <% }) %> 
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="distanciaFocalMinima" class="form-label">Distancia Focal Mínima</label>
                        <input type="text" name="distanciaFocalMinima" id="distanciaFocalMinima" class="form-control" tabindex="3">
                    </div>

                    <div class="mb-3">
                        <label for="distanciaFocalMaxima" class="form-label">Distancia Focal Máxima</label>
                        <input type="text" name="distanciaFocalMaxima" id="distanciaFocalMaxima" class="form-control" tabindex="4">
                    </div>
                    
                    <div class="mb-3">
                        <label for="aperturaMinima" class="form-label">Apertura Mínima</label>
                        <input type="text" name="aperturaMinima" id="aperturaMinima" class="form-control" tabindex="5">
                    </div>

                    <div class="mb-3">
                        <label for="aperturaMaxima" class="form-label">Apertura Máxima</label>
                        <input type="text" name="aperturaMaxima" id="aperturaMaxima" class="form-control" tabindex="6">
                    </div>

                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="text" name="precio" id="precio" class="form-control" tabindex="7">
                    </div>

                
                    <button type="submit" class="btn btn-primary" tabindex="8">Guardar</button>
                    <a href="/objetivos" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
        
    </div>
<%- include("../templates/footer") %> 