<%- include("../templates/head", {title: 'Crear Cámaras'}) %> 

    <div class = 'container mt-4'>
        <h1>Crear <%= title %></h1>
        <div class="card border-secondary">
            <div class="card-header">Nuevo Registro</div>
            <div class="card-body">
                <form action="/camaras/save" method="POST">
                    <div class="mb-3">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" name="modelo" id="modelo" class="form-control" tabindex="1">
                    </div>

                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <select name="marca" id="marca" class="form-select" tabindex="2"> 
                                <option value="" selected disabled hidden>Seleccione una opción</option>
                            <% marca.forEach((marca) => { %>
                                <option value="<%= marca.id_marca %>"> <%= marca.marca%> </option>
                            <% }) %> 
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="montura" class="form-label">Montura</label>
                        <select name="montura" id="montura" class="form-select" tabindex="3"> 
                                <option value="" selected disabled hidden>Seleccione una opción</option>
                            <% montura.forEach((montura) => { %>
                                <option value="<%= montura.id_montura %>"> <%= montura.modelo%> </option>
                            <% }) %> 
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="resolucion" class="form-label">Resolución</label>
                        <input type="text" name="resolucion" id="resolucion" class="form-control" tabindex="4">
                    </div>

                    <div class="mb-3">
                        <label for="isominimo" class="form-label">ISO Mínimo</label>
                        <input type="text" name="isominimo" id="isominimo" class="form-control" tabindex="5">
                    </div>
                    
                    <div class="mb-3">
                        <label for="isomaximo" class="form-label">ISO Máximo</label>
                        <input type="text" name="isomaximo" id="isomaximo" class="form-control" tabindex="5">
                    </div>

                    <div class="mb-3">
                        <label for="tamaniosensor" class="form-label">Tamaño del Sensor</label>
                        <input type="text" name="tamaniosensor" id="tamaniosensor" class="form-control" tabindex="5">
                    </div>

                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="text" name="precio" id="precio" class="form-control" tabindex="5">
                    </div>

                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/camaras" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
        
    </div>
<%- include("../templates/footer") %> 